In [2]:
# 라이브러리 호출
import numpy as np
import pandas as pd
from datetime import datetime

In [416]:
# type Category = {
#   id: string;
#   parentId: string;
#   childrenIds: string[];
#   doIds: string[];
#   level: Integer;
# }

In [3]:
data = {
    'Id': ["root"],
    'ParentId': [""],
    'ChildrenIds': ["['서울', '경기']"],
    'DoIds':["[]"],
    'level':["0"]
}

root_df0 = pd.DataFrame(data)

In [4]:
root_df0

     Id ParentId   ChildrenIds DoIds level
0  root           ['서울', '경기']    []     0

In [5]:
# 데이터 불러오기
rawData = pd.read_csv('TPSS_region_OD3.csv', encoding='cp949', sep=",")
rawData.head()

       Date   OA      OB   DA    DB  population
0  20230920  성동구  성수2가1동  은평구   대조동           3
1  20230920  성동구  성수2가1동  은평구  불광1동           2
2  20230920  성동구  성수2가1동  은평구  불광2동           1
3  20230920  성동구  성수2가1동  은평구   수색동           2
4  20230920  성동구  성수2가1동  은평구  신사1동           3

In [6]:
filterdDf= rawData.loc[:,['OA','OB','DA','DB']]

In [7]:

# A에서 B로 이동하는 데이터 복사
output1 = filterdDf.copy()

# B에서 A로 이동하는 데이터 복사
output2 = filterdDf.copy()

# 열 이름 바꾸기
output2.columns = ['DA', 'DB','OA','OB' ]


# 두 데이터프레임 병합
merged_df = pd.concat([output1, output2], axis=0)


# (Location_1=지역1 & Location_2=지역3)와 (Location_1=지역3 & Location_2=지역1)을 같은 것으로 처리
merged_df['Unique_DB'] = merged_df[['DB', 'OB']].min(axis=1)
merged_df['Unique_OB'] = merged_df[['DB', 'OB']].max(axis=1)

merged_df['Unique_DA'] = merged_df[['DA', 'OA']].min(axis=1)
merged_df['Unique_OA'] = merged_df[['DA', 'OA']].max(axis=1)

# 중복된 데이터 제거
merged_df = merged_df.drop_duplicates(subset=['Unique_DA','Unique_DB'])

# 불필요한 열 제거
merged_df = merged_df.drop(columns=['Unique_DA','Unique_DB', 'Unique_OA','Unique_OB','DA','DB'])

#중복제거
merged_df = merged_df.drop_duplicates(subset=['OA','OB'])

In [8]:
merged_df.head(300)

        OA      OB
0      성동구  성수2가1동
56     성동구  성수2가3동
144    성동구  왕십리도선동
280    성북구    길음1동
433    성북구     삼선동
...    ...     ...
88710  중랑구    상봉1동
88920  평택시     세교동
89092  화성시     진안동
89893  성동구   금호4가동
90735  성북구    장위3동

[300 rows x 2 columns]

In [ ]:
merged_df['OA'].unique()

In [57]:
merged_df['OB'].unique()

array(['성수2가1동', '성수2가3동', '왕십리도선동', '길음1동', '삼선동', '월곡1동', '정릉1동',
       '정릉2동', '가락1동', '마천2동', '문정1동', '석촌동', '위례동', '잠실6동', '잠실7동',
       '매탄3동', '신현동', '연성동', '일동', '갈산동', '관양1동', '석수1동', '석수2동', '회천1동',
       '회천2동', '목1동', '목2동', '목4동', '신월1동', '신월4동', '신월5동', '신정1동',
       '신정4동', '옥천면', '용문면', '옥련2동', '당산1동', '대림1동', '대림2동', '신길1동',
       '신길6동', '신길7동', '여의동', '남영동', '서빙고동', '용산2가동', '원효로2동', '이태원1동',
       '한강로동', '효창동', '상하동', '신갈동', '풍덕천2동', '역삼동', '구산동', '녹번동', '수색동',
       '응암2동', '녹양동', '호원1동', '사직동', '종로1.2.3.4가동', '청운효자동', '동화동', '신당동',
       '장충동', '망우3동', '망우본동', '면목5동', '면목7동', '상봉2동', '신내1동', '금촌2동',
       '문산읍', '금곡동', '백현동', '이매1동', '수진2동', '시흥동', '신촌동', '상대원1동',
       '상대원2동', '마장동', '용답동', '월곡2동', '가락2동', '잠실2동', '율천동', '정왕본동',
       '관양2동', '목3동', '신월2동', '신정2동', '신정6동', '지평면', '능서면', '대림3동',
       '영등포동', '보광동', '이촌1동', '이태원2동', '후암동', '유림동', '송산1동', '신포동', '약수동',
       '중림동', '덕풍3동', '신흥1동', '신흥2동', '상대원3동', '성남동', '사근동', '길음2동',
       '문정2동', '송파1동', '안양1동', '목5동', '신월6동', '중앙동', '용문동', '원효로1동',
       '동천동', '신사1동', '응암3동', '송산2동', '호원2동', '삼청동', '명동', '면목본동', '운정1동',
       '신장1동', '정자2동', '정자3동', '정릉3동', '잠실본동', '매교동', '선부3동', '신월3동',
       '신정3동', '신정7동', '동춘2동', '신길3동', '이촌2동', '한남동', '구갈동', '포곡읍',
       '갈현1동', '대조동', '신곡1동', '부발읍', '평창동', '청구동', '양재1동', '양재2동', '고등동',
       '석관동', '매산동', '신월7동', '동춘3동', '양평1동', '청파동', '상현1동', '증산동', '신둔면',
       '종로5.6가동', '필동', '면목2동', '신내2동', '운정2동', '운정3동', '분당동', '서현1동',
       '단대동', '은행2동', '송정동', '응봉동', '돈암1동', '장위1동', '가락본동', '잠실3동', '초지동',
       '귀인동', '달안동', '안양2동', '선학동', '당산2동', '도림동', '동백동', '신사2동', '신곡2동',
       '중리동', '숭인1동', '영종동', '묵1동', '신장2동', '신흥3동', '하대원동', '금호1가동',
       '성수1가1동', '정릉4동', '방이1동', '송파2동', '범계동', '부림동', '부흥동', '비산1동',
       '송도2동', '신길4동', '영등포본동', '마북동', '성복동', '가회동', '숭인2동', '혜화동', '북성동',
       '운서동', '면목3.8동', '중화1동', '월롱면', '옥수동', '돈암2동', '성북동', '장위2동',
       '거여1동', '오금동', '잠실4동', '장지동', '인계동', '호수동', '비산2동', '안양3동', '안양4동',
       '양서면', '양평2동', '갈현2동', '불광1동', '의정부1동', '소공동', '묵2동', '파주읍', '잠원동',
       '서현2동', '양지동', '행당1동', '비산3동', '안양5동', '양평읍', '연수1동', '문래동', '보정동',
       '죽전2동', '진관동', '교남동', '을지로동', '황학동', '중화2동', '서정동', '초이동', '풍산동',
       '동탄3동', '수내1동', '산성동', '금호2.3가동', '방이2동', '화서2동', '반월동', '평촌동',
       '안양6동', '연수2동', '신길5동', '광교1동', '상갈동', '역촌동', '의정부2동', '창신1동',
       '광희동', '매송면', '태평1동', '성수1가2동', '왕십리2동', '동선동', '안암동', '종암동',
       '거여2동', '오륜동', '연수3동', '불광2동', '무악동', '부암동', '이화동', '회현동', '면목4동',
       '상봉1동', '세교동', '진안동', '금호4가동', '장위3동', '마천1동', '풍납1동', '능곡동',
       '본오2동', '안양7동', '안양8동', '고천동', '신당5동', '광탄면', '원평동', '구미1동', '구미동',
       '수내2동', '수내3동', '수진1동', '행당2동', '보문동', '풍납2동', '대야동', '이동', '호계1동',
       '호계2동', '호계3동', '양주1동', '대원동', '응암1동', '내손1동', '의정부3동', '창신2동',
       '창신3동', '교하동', '야탑1동', '태평2동', '삼전동', '신천동', '세마동', '부곡동', '오전동',
       '장암동', '다산동', '금촌1동', '진위면', '감북동', '평동', '장흥면', '신장동', '가능1동',
       '태평3동', '금광2동', '야탑2동', '도촌동', '둔촌1동', '성내1동', '암사3동', '천호1동',
       '번2동', '수유1동', '가양2동', '발산1동', '염창동', '화곡6동', '대덕동', '행신3동',
       '마두1동', '대화동', '과천동', '난향동', '삼성동', '서림동', '서원동', '성현동', '신사동',
       '은천동', '조원동', '청림동', '광명5동', '철산3동', '광남동', '구의2동', '자양1동', '중곡3동',
       '개봉2동', '구로3동', '서초3동', '구로5동', '수궁동', '오류1동', '수택1동', '수택2동',
       '수택3동', '궁내동', '재궁동', '독산2동', '시흥1동', '시흥2동', '김포본동', '주안4동',
       '주안5동', '별내동', '별내면', '공릉1동', '상계3.4동', '월계2동', '하계1동', '방학3동',
       '창2동', '창3동', '장안2동', '청량리동', '소요동', '사당1동', '사당2동', '상도1동',
       '논현1동', '삼성2동', '역삼1동', '일원본동', '번3동', '가양3동', '우장산동', '행주동',
       '남현동', '인헌동', '행운동', '광명6동', '초월읍', '서초4동', '신도림동', '인창동', '금정동',
       '사우동', '하계2동', '쌍문1동', '용신동', '회기동', '송내동', '신대방2동', '도화동', '논현2동',
       '도곡1동', '수유2동', '성사1동', '마두2동', '신림동', '청룡동', '광명7동', '하안1동',
       '광장동', '구의3동', '자양2동', '개봉3동', '오류2동', '가산동', '독산3동', '시흥3동',
       '간석1동', '양정동', '공릉2동', '상계5동', '월계3동', '창4동', '전농1동', '상도2동',
       '망원1동', '서교동', '아현동', '청담동', '둔촌2동', '공항동', '화곡8동', '화전동', '송산동',
       '별양동', '신원동', '광명2동', '소하1동', '중곡4동', '구로4동', '광정동', '양촌읍', '와부읍',
       '흑석동', '소사본동', '가평읍', '청평면', '성내2동', '천호2동', '삼각산동', '수유3동',
       '일산1동', '광명3동', '하안2동', '자양3동', '고척1동', '군포1동', '시흥4동', '운양동',
       '간석3동', '쌍문2동', '창5동', '노량진1동', '연남동', '부평4동', '화곡본동', '화정1동',
       '백석1동', '일산2동', '광명4동', '소하2동', '하안3동', '장기동', '간석4동', '조안면',
       '중계1동', '도봉1동', '사당3동', '망원2동', '가좌3동', '석남3동', '연희동', '수서동',
       '천호3동', '삼양동', '방화1동', '화곡1동', '계산1동', '신도동', '대학동', '구의1동', '군자동',
       '자양4동', '화양동', '갈매동', '산본1동', '독산4동', '구월2동', '진건읍', '상계10동',
       '상계6.7동', '쌍문3동', '이문1동', '휘경1동', '상도3동', '성산1동', '갈산2동', '산곡2동',
       '가좌4동', '남가좌1동', '북가좌2동', '충현동', '미아동', '우이동', '화정2동', '백석2동',
       '일산3동', '하안4동', '학온동', '교문1동', '교문2동', '군포2동', '산본2동', '수리동',
       '독산1동', '시흥5동', '도화1동', '구월3동', '진접읍', '도봉2동', '전농2동', '공덕동',
       '상암동', '염리동', '부개2동', '검단1동', '홍은1동', '홍제1동', '명일1동', '계산2동',
       '식사동', '경안동', '능동', '고척2동', '상계1동', '상계8동', '중계2.3동', '금창동',
       '휘경2동', '사당4동', '상도4동', '삼산1동', '검단3동', '북아현동', '홍제2동', '서울시외',
       '장항1동', '주엽1동', '문학동', '퇴계원면', '쌍문4동', '송현1.2동', '이문2동', '노량진2동',
       '성산2동', '용강동', '부개3동', '검단4동', '천연동', '송중동', '인수동', '화곡2동', '창릉동',
       '효자동', '장항2동', '미성동', '곤지암읍', '중곡1동', '숭의2동', '용현5동', '논현고잔동',
       '방학1동', '검단5동', '남가좌2동', '홍은2동', '내곡동', '반포3동', '암사2동', '작전2동',
       '주엽2동', '탄현동', '구로1동', '구래동', '만수1동', '만수5동', '평내동', '상계2동',
       '상계9동', '중계4동', '창1동', '답십리1동', '제기동', '보산동', '사당5동', '신대방1동',
       '서강동', '부평1동', '삼산2동', '반포2동', '반포4동', '반포본동', '명일2동', '번1동',
       '송천동', '방화2동', '행신1동', '정발산동', '난곡동', '보라매동', '중곡2동', '장수서창동',
       '중계본동', '검암경서동', '방배4동', '흥도동', '중산동', '구로2동', '주안2동', '화도읍',
       '월계1동', '방학2동', '답십리2동', '신수동', '합정동', '부평2동', '십정2동', '석남2동',
       '방배2동', '방배3동', '갈현동', '생연2동', '북가좌1동', '소사본3동', '가정1동', '서초1동',
       '장단면', '일원1동', '일원2동', '성내3동', '암사1동', '철산2동', '광명1동', '갈산1동',
       '등촌1동'], dtype=object)

In [9]:
#시 레벨 지역 리스트
regionList_df = pd.DataFrame(merged_df['OA'].unique())
# 첫번째 칼럼의 이름 조회
regionList_df.columns[0]
#  0 
# 칼럼 이름을 0에서 Region으로 변경
regionList_df=regionList_df.rename(columns={0: 'Region'})

In [10]:
# ~~시 라고 이름이 되어 있지 않은 것들은 서울 동네 리스트로,

seoul_df = regionList_df[~regionList_df['Region'].str.contains('시', case=False, regex=True)]


# ~~ 시 라고 이름이 되어 있는 것들은 경기 동네 리스트로
gyeongi_df = regionList_df[regionList_df['Region'].str.contains('시', case=False, regex=True)]

# 서울시외와 시흥시는 빼자.
gyeongi_df = gyeongi_df[gyeongi_df['Region'] != '서울시외']
gyeongi_df = gyeongi_df[gyeongi_df['Region'] != '시흥시']

In [11]:
# 경기 2는 2티어 경기도들.구 레벨의 동네를 모으기 위해 만든다.

gyeongi_df2 = gyeongi_df.copy()
gyeongi_df2[['ParentId', 'Id']] = gyeongi_df2['Region'].str.split('시', n=1, expand=True)

In [12]:
gyeongi_df1 = gyeongi_df2.copy()
# gyeongi_df1 = gyeongi_df1.drop(columns="Region")
gyeongi_df1=gyeongi_df1.rename(columns={"Id": 'ChildrenId'})
gyeongi_df1=gyeongi_df1.rename(columns={"ParentId": 'Id'})
gyeongi_df1["ParentId"] = "경기"

In [13]:
gyeongi_df1 = gyeongi_df1[['Id', 'ParentId','ChildrenId', 'Region']]

# 경기도 구 기준 테이블에 OA OB 를 합쳐 동 불러오기
gyeongi_df1 = pd.merge(gyeongi_df1, merged_df, left_on = 'Region', right_on = 'OA', how='left')

# 중복된 데이터 제거
gyeongi_df1 = gyeongi_df1.drop_duplicates(subset=['Id', 'ParentId', 'ChildrenId', 'Region', 'OA', 'OB'])
# merged_df = merged_df.drop_duplicates(subset=['Unique_DA','Unique_DB'])

# GroupBy로 OB를 묶기
gyeongi_df1 = gyeongi_df1.groupby(['Id','ParentId','ChildrenId','Region'])['OB'].apply(list).reset_index()

In [14]:
# ChildrenId의 값들..
gyeongi_df1['ChildrenId'].tolist()

['덕양구',
 '일산동구',
 '일산서구',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '분당구',
 '수정구',
 '중원구',
 '권선구',
 '영통구',
 '장안구',
 '팔달구',
 '단원구',
 '상록구',
 '동안구',
 '만안구',
 '',
 '',
 '',
 '기흥구',
 '수지구',
 '처인구',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
# 'childrenId' 값이 있는 행과 값이 없는 행을 분리
# gyeongi_df1_with_children = gyeongi_df1[~gyeongi_df1['ChildrenId'].isna()]  # 'childrenId' 값이 있는 행
# gyeongi_df1_without_children = gyeongi_df1[gyeongi_df1['ChildrenId'].isna()]  # 'childrenId' 값이 없는 행

In [15]:
#  ChildrenId가 없는 녀석들만 따로 모으자.
# gyeongi_df1[~gyeongi_df1['ChildrenId'].isna()]
gyeongi_df1_1 = gyeongi_df1[gyeongi_df1['ChildrenId']=='']


#  ChildrenId가 있는 녀석들도 따로 모으자.
gyeongi_df1_2 = gyeongi_df1[gyeongi_df1['ChildrenId']!='']

In [16]:
gyeongi_df1_1

,Id,ParentId,ChildrenId,Region,OB
3,과천,경기,,과천시,"[과천동, 별양동, 부림동, 중앙동, 갈현동]"
4,광명,경기,,광명시,"[광명5동, 철산3동, 광명6동, 광명7동, 하안1동, 광명2동, 소하1동, 광명3..."
5,광주,경기,,광주시,"[광남동, 초월읍, 경안동, 곤지암읍]"
6,구리,경기,,구리시,"[수택1동, 수택2동, 수택3동, 인창동, 갈매동, 교문1동, 교문2동]"
7,군포,경기,,군포시,"[궁내동, 재궁동, 금정동, 광정동, 군포1동, 대야동, 산본1동, 군포2동, 산본..."
8,김포,경기,,김포시,"[김포본동, 사우동, 양촌읍, 운양동, 장기동, 구래동]"
9,남양주,경기,,남양주시,"[별내동, 별내면, 양정동, 와부읍, 조안면, 진건읍, 진접읍, 퇴계원면, 평내동,..."
10,동두천,경기,,동두천시,"[소요동, 송내동, 보산동, 생연2동]"
11,부천,경기,,부천시,"[소사본동, 소사본3동]"
23,양주,경기,,양주시,"[회천1동, 회천2동, 양주1동, 장흥면]"
24,여주,경기,,여주시,"[능서면, 중앙동]"
25,오산,경기,,오산시,"[대원동, 세마동, 신장동]"
29,의왕,경기,,의왕시,"[고천동, 내손1동, 부곡동, 오전동]"
30,의정부,경기,,의정부시,"[녹양동, 호원1동, 송산1동, 송산2동, 호원2동, 신곡1동, 신곡2동, 의정부1..."
31,이천,경기,,이천시,"[부발읍, 신둔면, 중리동]"
32,파주,경기,,파주시,"[금촌2동, 문산읍, 운정1동, 운정2동, 운정3동, 월롱면, 파주읍, 광탄면, 교..."
33,평택,경기,,평택시,"[서정동, 세교동, 신장2동, 원평동, 진위면]"
34,하남,경기,,하남시,"[덕풍3동, 신장1동, 신장2동, 초이동, 풍산동, 감북동]"
35,화성,경기,,화성시,"[동탄3동, 매송면, 진안동]"

In [17]:
# 여기의 Children은 없다.
gyeongi_df1_1["ChildrenIds"]="[]"

# level은 2 이다.
gyeongi_df1_1["level"]=2

# OB를 DoIds로 이름을 바꾼다.
gyeongi_df1_1=gyeongi_df1_1.rename(columns={"OB": 'DoIds'})

C:\Users\sangyoon_kim\AppData\Local\Temp\ipykernel_19760\1867079548.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gyeongi_df1_1["ChildrenIds"]="[]"
C:\Users\sangyoon_kim\AppData\Local\Temp\ipykernel_19760\1867079548.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gyeongi_df1_1["level"]=2

In [18]:
gyeongi_df1_1= gyeongi_df1_1[['Id', 'ParentId','ChildrenIds', 'DoIds', 'level']]

In [19]:
# gyeongi_df1_1 최종본
gyeongi_df1_1

,Id,ParentId,ChildrenIds,DoIds,level
3,과천,경기,[],"[과천동, 별양동, 부림동, 중앙동, 갈현동]",2
4,광명,경기,[],"[광명5동, 철산3동, 광명6동, 광명7동, 하안1동, 광명2동, 소하1동, 광명3...",2
5,광주,경기,[],"[광남동, 초월읍, 경안동, 곤지암읍]",2
6,구리,경기,[],"[수택1동, 수택2동, 수택3동, 인창동, 갈매동, 교문1동, 교문2동]",2
7,군포,경기,[],"[궁내동, 재궁동, 금정동, 광정동, 군포1동, 대야동, 산본1동, 군포2동, 산본...",2
8,김포,경기,[],"[김포본동, 사우동, 양촌읍, 운양동, 장기동, 구래동]",2
9,남양주,경기,[],"[별내동, 별내면, 양정동, 와부읍, 조안면, 진건읍, 진접읍, 퇴계원면, 평내동,...",2
10,동두천,경기,[],"[소요동, 송내동, 보산동, 생연2동]",2
11,부천,경기,[],"[소사본동, 소사본3동]",2
23,양주,경기,[],"[회천1동, 회천2동, 양주1동, 장흥면]",2
24,여주,경기,[],"[능서면, 중앙동]",2
25,오산,경기,[],"[대원동, 세마동, 신장동]",2
29,의왕,경기,[],"[고천동, 내손1동, 부곡동, 오전동]",2
30,의정부,경기,[],"[녹양동, 호원1동, 송산1동, 송산2동, 호원2동, 신곡1동, 신곡2동, 의정부1...",2
31,이천,경기,[],"[부발읍, 신둔면, 중리동]",2
32,파주,경기,[],"[금촌2동, 문산읍, 운정1동, 운정2동, 운정3동, 월롱면, 파주읍, 광탄면, 교...",2
33,평택,경기,[],"[서정동, 세교동, 신장2동, 원평동, 진위면]",2
34,하남,경기,[],"[덕풍3동, 신장1동, 신장2동, 초이동, 풍산동, 감북동]",2
35,화성,경기,[],"[동탄3동, 매송면, 진안동]",2

In [ ]:
# type Category = {
#   id: string;
#   name: string;
#   parentId: string;
#   childrenIds: string[];
#   doIds: string[];
#   level: Integer;
# }

In [20]:
# gyeongi_df1_2는 children에 구 가 있는 경우
# 여기서 gyeongi_df2 를 새로 나누어 구 레벨의 새 테이블 만든다.

gyeongi_df3 = gyeongi_df1_2.copy()

In [21]:
# gyeongi_df1_2 만지기.
# gyeongi_df1_2를 Id 와 ParentId 기준으로 ChildrenId 를 groupBy
gyeongi_df1_2 = gyeongi_df1_2.groupby(['Id','ParentId'])['ChildrenId'].apply(list).reset_index()

# ChildrenId를 ChildrenIds 로 이름 변경
gyeongi_df1_2=gyeongi_df1_2.rename(columns={"ChildrenId": 'ChildrenIds'})

# DoIds 에는 아무것도 없다.
gyeongi_df1_2["DoIds"]="[]"

# level은 2 이다.
gyeongi_df1_2["level"]=2

In [22]:
# gyeongi_df1_2 최종본
gyeongi_df1_2

   Id ParentId           ChildrenIds DoIds  level
0  고양       경기     [덕양구, 일산동구, 일산서구]    []      2
1  성남       경기       [분당구, 수정구, 중원구]    []      2
2  수원       경기  [권선구, 영통구, 장안구, 팔달구]    []      2
3  안산       경기            [단원구, 상록구]    []      2
4  안양       경기            [동안구, 만안구]    []      2
5  용인       경기       [기흥구, 수지구, 처인구]    []      2

In [23]:
gyeongi_df3

,Id,ParentId,ChildrenId,Region,OB
0,고양,경기,덕양구,고양시덕양구,"[대덕동, 행신3동, 행주동, 성사1동, 화전동, 화정1동, 신도동, 화정2동, 창..."
1,고양,경기,일산동구,고양시일산동구,"[마두1동, 풍산동, 마두2동, 백석1동, 백석2동, 식사동, 장항1동, 장항2동,..."
2,고양,경기,일산서구,고양시일산서구,"[대화동, 송산동, 일산1동, 일산2동, 일산3동, 주엽1동, 주엽2동, 탄현동]"
12,성남,경기,분당구,성남시분당구,"[금곡동, 백현동, 이매1동, 정자2동, 정자3동, 분당동, 서현1동, 서현2동, ..."
13,성남,경기,수정구,성남시수정구,"[수진2동, 시흥동, 신촌동, 신흥1동, 신흥2동, 고등동, 단대동, 신흥3동, 양..."
14,성남,경기,중원구,성남시중원구,"[상대원1동, 상대원2동, 상대원3동, 성남동, 은행2동, 중앙동, 하대원동, 금광..."
15,수원,경기,권선구,수원시권선구,[평동]
16,수원,경기,영통구,수원시영통구,[매탄3동]
17,수원,경기,장안구,수원시장안구,[율천동]
18,수원,경기,팔달구,수원시팔달구,"[매교동, 매산동, 인계동, 화서2동]"
19,안산,경기,단원구,안산시단원구,"[선부3동, 초지동, 호수동]"
20,안산,경기,상록구,안산시상록구,"[일동, 반월동, 본오2동, 이동]"
21,안양,경기,동안구,안양시동안구,"[갈산동, 관양1동, 관양2동, 귀인동, 달안동, 범계동, 부림동, 부흥동, 비산1..."
22,안양,경기,만안구,안양시만안구,"[석수1동, 석수2동, 안양1동, 안양2동, 안양3동, 안양4동, 안양5동, 안양6..."
26,용인,경기,기흥구,용인시기흥구,"[상하동, 신갈동, 구갈동, 동백동, 마북동, 보정동, 상갈동]"
27,용인,경기,수지구,용인시수지구,"[풍덕천2동, 동천동, 상현1동, 성복동, 죽전2동]"
28,용인,경기,처인구,용인시처인구,"[역삼동, 유림동, 중앙동, 포곡읍]"

In [24]:
# 불필요한 열 제거
gyeongi_df3 = gyeongi_df3.drop(columns=['ParentId','Region'])

#중복제거
gyeongi_df3 = gyeongi_df3.drop_duplicates(subset=['Id','ChildrenId'])

In [25]:

# 이름 3레벨에 맞게 전환
gyeongi_df3=gyeongi_df3.rename(columns={"Id": 'ParentId'})

gyeongi_df3=gyeongi_df3.rename(columns={"ChildrenId": 'Id'})

gyeongi_df3=gyeongi_df3.rename(columns={"OB": 'DoIds'})

# 여기의 Children은 없다.
gyeongi_df3["ChildrenIds"]="[]"

# level은 2 이다.
gyeongi_df3["level"]=3

# 순서 최종정리
gyeongi_df3= gyeongi_df3[['Id', 'ParentId','ChildrenIds', 'DoIds', 'level']]

In [26]:
# gyeongi_df3 최종본
gyeongi_df3

,Id,ParentId,ChildrenIds,DoIds,level
0,덕양구,고양,[],"[대덕동, 행신3동, 행주동, 성사1동, 화전동, 화정1동, 신도동, 화정2동, 창...",3
1,일산동구,고양,[],"[마두1동, 풍산동, 마두2동, 백석1동, 백석2동, 식사동, 장항1동, 장항2동,...",3
2,일산서구,고양,[],"[대화동, 송산동, 일산1동, 일산2동, 일산3동, 주엽1동, 주엽2동, 탄현동]",3
12,분당구,성남,[],"[금곡동, 백현동, 이매1동, 정자2동, 정자3동, 분당동, 서현1동, 서현2동, ...",3
13,수정구,성남,[],"[수진2동, 시흥동, 신촌동, 신흥1동, 신흥2동, 고등동, 단대동, 신흥3동, 양...",3
14,중원구,성남,[],"[상대원1동, 상대원2동, 상대원3동, 성남동, 은행2동, 중앙동, 하대원동, 금광...",3
15,권선구,수원,[],[평동],3
16,영통구,수원,[],[매탄3동],3
17,장안구,수원,[],[율천동],3
18,팔달구,수원,[],"[매교동, 매산동, 인계동, 화서2동]",3
19,단원구,안산,[],"[선부3동, 초지동, 호수동]",3
20,상록구,안산,[],"[일동, 반월동, 본오2동, 이동]",3
21,동안구,안양,[],"[갈산동, 관양1동, 관양2동, 귀인동, 달안동, 범계동, 부림동, 부흥동, 비산1...",3
22,만안구,안양,[],"[석수1동, 석수2동, 안양1동, 안양2동, 안양3동, 안양4동, 안양5동, 안양6...",3
26,기흥구,용인,[],"[상하동, 신갈동, 구갈동, 동백동, 마북동, 보정동, 상갈동]",3
27,수지구,용인,[],"[풍덕천2동, 동천동, 상현1동, 성복동, 죽전2동]",3
28,처인구,용인,[],"[역삼동, 유림동, 중앙동, 포곡읍]",3

In [ ]:
# 여기까지 경기도 끝

In [ ]:
# 여기서부터 서울 시작

In [27]:
seoul_df

   Region
0     성동구
1     성북구
2     송파구
9     양천구
10    양평군
11    연수구
12   영등포구
13    용산구
17    은평구
19    종로구
20     중구
21    중랑구
32    서초구
35    영통구
39    강동구
40    강북구
41    강서구
46    관악구
49    광진구
50    구로구
53    금천구
55     남구
57    노원구
58    도봉구
59   동대문구
61    동작구
62    강남구
63    마포구
64    남동구
66    가평군
67    부평구
68     서구
69    계양구
70   서대문구
71     동구

In [28]:
# 서울 구 기준 테이블에 OA OB 를 합쳐 동 불러오기
seoul_df2 = pd.merge(seoul_df, merged_df, left_on = 'Region', right_on = 'OA', how='left')

In [29]:
seoul_df2 = seoul_df2.groupby(['Region'])['OB'].apply(list).reset_index()

In [30]:
# 칼럼 추가하기

# 이름 2레벨에 맞게 전환
seoul_df2=seoul_df2.rename(columns={"Region": 'Id'})

seoul_df2=seoul_df2.rename(columns={"OB": 'DoIds'})

# 여기의 parentId는 서울이다.
seoul_df2["ParentId"]="서울"


# 여기의 Children은 없다.
seoul_df2["ChildrenIds"]="[]"

# level은 2 이다.
seoul_df2["level"]=2

# 순서 최종정리
seoul_df2= seoul_df2[['Id', 'ParentId','ChildrenIds', 'DoIds', 'level']]

In [31]:
seoul_df2

,Id,ParentId,ChildrenIds,DoIds,level
0,가평군,서울,[],"[가평읍, 청평면]",2
1,강남구,서울,[],"[논현1동, 삼성2동, 역삼1동, 일원본동, 논현2동, 도곡1동, 청담동, 수서동,...",2
2,강동구,서울,[],"[둔촌1동, 성내1동, 암사3동, 천호1동, 둔촌2동, 성내2동, 천호2동, 천호3...",2
3,강북구,서울,[],"[번2동, 수유1동, 번3동, 수유2동, 삼각산동, 수유3동, 삼양동, 미아동, 우...",2
4,강서구,서울,[],"[가양2동, 발산1동, 염창동, 화곡6동, 가양3동, 우장산동, 공항동, 화곡8동,...",2
5,계양구,서울,[],"[계산1동, 계산2동, 작전2동]",2
6,관악구,서울,[],"[난향동, 삼성동, 서림동, 서원동, 성현동, 신사동, 은천동, 조원동, 중앙동, ...",2
7,광진구,서울,[],"[구의2동, 자양1동, 중곡3동, 광장동, 구의3동, 자양2동, 중곡4동, 자양3동...",2
8,구로구,서울,[],"[개봉2동, 구로3동, 구로5동, 수궁동, 오류1동, 신도림동, 개봉3동, 오류2동...",2
9,금천구,서울,[],"[독산2동, 시흥1동, 시흥2동, 가산동, 독산3동, 시흥3동, 시흥4동, 독산4동...",2
10,남구,서울,[],"[주안4동, 주안5동, 도화1동, 문학동, 숭의2동, 용현5동, 주안2동]",2
11,남동구,서울,[],"[간석1동, 간석3동, 간석4동, 구월2동, 구월3동, 논현1동, 논현고잔동, 만수...",2
12,노원구,서울,[],"[공릉1동, 상계3.4동, 월계2동, 하계1동, 하계2동, 공릉2동, 상계5동, 월...",2
13,도봉구,서울,[],"[방학3동, 창2동, 창3동, 쌍문1동, 창4동, 쌍문2동, 창5동, 도봉1동, 쌍...",2
14,동구,서울,[],"[금창동, 송현1.2동]",2
15,동대문구,서울,[],"[장안2동, 청량리동, 용신동, 회기동, 전농1동, 이문1동, 휘경1동, 전농2동,...",2
16,동작구,서울,[],"[사당1동, 사당2동, 상도1동, 신대방2동, 상도2동, 흑석동, 노량진1동, 사당...",2
17,마포구,서울,[],"[도화동, 망원1동, 서교동, 아현동, 연남동, 망원2동, 성산1동, 공덕동, 상암...",2
18,부평구,서울,[],"[부평4동, 갈산2동, 산곡2동, 부개2동, 삼산1동, 부개3동, 부평1동, 삼산2...",2
19,서구,서울,[],"[가좌3동, 석남3동, 연희동, 가좌4동, 검단1동, 검단3동, 검단4동, 검단5동...",2
20,서대문구,서울,[],"[남가좌1동, 북가좌2동, 연희동, 충현동, 홍은1동, 홍제1동, 북아현동, 홍제2...",2
21,서초구,서울,[],"[양재1동, 양재2동, 잠원동, 서초3동, 서초4동, 내곡동, 반포3동, 반포2동,...",2
22,성동구,서울,[],"[성수2가1동, 성수2가3동, 왕십리도선동, 마장동, 용답동, 사근동, 송정동, 응...",2
23,성북구,서울,[],"[길음1동, 삼선동, 월곡1동, 정릉1동, 정릉2동, 월곡2동, 길음2동, 정릉3동...",2
24,송파구,서울,[],"[가락1동, 마천2동, 문정1동, 석촌동, 위례동, 잠실6동, 잠실7동, 가락2동,...",2
25,양천구,서울,[],"[목1동, 목2동, 목4동, 신월1동, 신월4동, 신월5동, 신정1동, 신정4동, ...",2
26,양평군,서울,[],"[옥천면, 용문면, 지평면, 양서면, 양평읍]",2
27,연수구,서울,[],"[옥련2동, 동춘2동, 동춘3동, 선학동, 송도2동, 연수1동, 연수2동, 연수3동]",2
28,영등포구,서울,[],"[당산1동, 대림1동, 대림2동, 신길1동, 신길6동, 신길7동, 여의동, 대림3동...",2
29,영통구,서울,[],[광교1동],2
30,용산구,서울,[],"[남영동, 서빙고동, 용산2가동, 원효로2동, 이태원1동, 한강로동, 효창동, 보광...",2
31,은평구,서울,[],"[구산동, 녹번동, 수색동, 응암2동, 신사1동, 응암3동, 갈현1동, 대조동, 증...",2
32,종로구,서울,[],"[사직동, 종로1.2.3.4가동, 청운효자동, 삼청동, 평창동, 종로5.6가동, 숭...",2
33,중구,서울,[],"[동화동, 신당동, 장충동, 신포동, 약수동, 중림동, 명동, 청구동, 필동, 영종...",2
34,중랑구,서울,[],"[망우3동, 망우본동, 면목5동, 면목7동, 상봉2동, 신내1동, 면목본동, 면목2...",2