In [1]:
# DO _ DOID translator

In [2]:
# 라이브러리 호출
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
# 데이터 불러오기
rawData = pd.read_csv('TPSS_region_OD3.csv', encoding='cp949', sep=",")
rawData.head()

       Date   OA      OB   DA    DB  population
0  20230920  성동구  성수2가1동  은평구   대조동           3
1  20230920  성동구  성수2가1동  은평구  불광1동           2
2  20230920  성동구  성수2가1동  은평구  불광2동           1
3  20230920  성동구  성수2가1동  은평구   수색동           2
4  20230920  성동구  성수2가1동  은평구  신사1동           3

In [4]:
filterdDf= rawData.loc[:,['OA','OB','DA','DB']]

In [5]:

# A에서 B로 이동하는 데이터 복사
output1 = filterdDf.copy()

# B에서 A로 이동하는 데이터 복사
output2 = filterdDf.copy()

# 열 이름 바꾸기
output2.columns = ['DA', 'DB','OA','OB' ]


# 두 데이터프레임 병합
merged_df = pd.concat([output1, output2], axis=0)


# (Location_1=지역1 & Location_2=지역3)와 (Location_1=지역3 & Location_2=지역1)을 같은 것으로 처리
merged_df['Unique_DB'] = merged_df[['DB', 'OB']].min(axis=1)
merged_df['Unique_OB'] = merged_df[['DB', 'OB']].max(axis=1)

merged_df['Unique_DA'] = merged_df[['DA', 'OA']].min(axis=1)
merged_df['Unique_OA'] = merged_df[['DA', 'OA']].max(axis=1)

# 중복된 데이터 제거
merged_df = merged_df.drop_duplicates(subset=['Unique_DA','Unique_DB'])

# 불필요한 열 제거
merged_df = merged_df.drop(columns=['Unique_DA','Unique_DB', 'Unique_OA','Unique_OB','DA','DB'])

#중복제거
merged_df = merged_df.drop_duplicates(subset=['OA','OB'])

In [6]:
merged_df.head(300)

        OA      OB
0      성동구  성수2가1동
56     성동구  성수2가3동
144    성동구  왕십리도선동
280    성북구    길음1동
433    성북구     삼선동
...    ...     ...
88710  중랑구    상봉1동
88920  평택시     세교동
89092  화성시     진안동
89893  성동구   금호4가동
90735  성북구    장위3동

[300 rows x 2 columns]

In [7]:
merged_df['OB'].unique()

array(['성수2가1동', '성수2가3동', '왕십리도선동', '길음1동', '삼선동', '월곡1동', '정릉1동',
       '정릉2동', '가락1동', '마천2동', '문정1동', '석촌동', '위례동', '잠실6동', '잠실7동',
       '매탄3동', '신현동', '연성동', '일동', '갈산동', '관양1동', '석수1동', '석수2동', '회천1동',
       '회천2동', '목1동', '목2동', '목4동', '신월1동', '신월4동', '신월5동', '신정1동',
       '신정4동', '옥천면', '용문면', '옥련2동', '당산1동', '대림1동', '대림2동', '신길1동',
       '신길6동', '신길7동', '여의동', '남영동', '서빙고동', '용산2가동', '원효로2동', '이태원1동',
       '한강로동', '효창동', '상하동', '신갈동', '풍덕천2동', '역삼동', '구산동', '녹번동', '수색동',
       '응암2동', '녹양동', '호원1동', '사직동', '종로1.2.3.4가동', '청운효자동', '동화동', '신당동',
       '장충동', '망우3동', '망우본동', '면목5동', '면목7동', '상봉2동', '신내1동', '금촌2동',
       '문산읍', '금곡동', '백현동', '이매1동', '수진2동', '시흥동', '신촌동', '상대원1동',
       '상대원2동', '마장동', '용답동', '월곡2동', '가락2동', '잠실2동', '율천동', '정왕본동',
       '관양2동', '목3동', '신월2동', '신정2동', '신정6동', '지평면', '능서면', '대림3동',
       '영등포동', '보광동', '이촌1동', '이태원2동', '후암동', '유림동', '송산1동', '신포동', '약수동',
       '중림동', '덕풍3동', '신흥1동', '신흥2동', '상대원3동', '성남동', '사근동', '길음2동',
       '문정2동', '송파1동', '안양1동', '목5동', '신월6동', '중앙동', '용문동', '원효로1동',
       '동천동', '신사1동', '응암3동', '송산2동', '호원2동', '삼청동', '명동', '면목본동', '운정1동',
       '신장1동', '정자2동', '정자3동', '정릉3동', '잠실본동', '매교동', '선부3동', '신월3동',
       '신정3동', '신정7동', '동춘2동', '신길3동', '이촌2동', '한남동', '구갈동', '포곡읍',
       '갈현1동', '대조동', '신곡1동', '부발읍', '평창동', '청구동', '양재1동', '양재2동', '고등동',
       '석관동', '매산동', '신월7동', '동춘3동', '양평1동', '청파동', '상현1동', '증산동', '신둔면',
       '종로5.6가동', '필동', '면목2동', '신내2동', '운정2동', '운정3동', '분당동', '서현1동',
       '단대동', '은행2동', '송정동', '응봉동', '돈암1동', '장위1동', '가락본동', '잠실3동', '초지동',
       '귀인동', '달안동', '안양2동', '선학동', '당산2동', '도림동', '동백동', '신사2동', '신곡2동',
       '중리동', '숭인1동', '영종동', '묵1동', '신장2동', '신흥3동', '하대원동', '금호1가동',
       '성수1가1동', '정릉4동', '방이1동', '송파2동', '범계동', '부림동', '부흥동', '비산1동',
       '송도2동', '신길4동', '영등포본동', '마북동', '성복동', '가회동', '숭인2동', '혜화동', '북성동',
       '운서동', '면목3.8동', '중화1동', '월롱면', '옥수동', '돈암2동', '성북동', '장위2동',
       '거여1동', '오금동', '잠실4동', '장지동', '인계동', '호수동', '비산2동', '안양3동', '안양4동',
       '양서면', '양평2동', '갈현2동', '불광1동', '의정부1동', '소공동', '묵2동', '파주읍', '잠원동',
       '서현2동', '양지동', '행당1동', '비산3동', '안양5동', '양평읍', '연수1동', '문래동', '보정동',
       '죽전2동', '진관동', '교남동', '을지로동', '황학동', '중화2동', '서정동', '초이동', '풍산동',
       '동탄3동', '수내1동', '산성동', '금호2.3가동', '방이2동', '화서2동', '반월동', '평촌동',
       '안양6동', '연수2동', '신길5동', '광교1동', '상갈동', '역촌동', '의정부2동', '창신1동',
       '광희동', '매송면', '태평1동', '성수1가2동', '왕십리2동', '동선동', '안암동', '종암동',
       '거여2동', '오륜동', '연수3동', '불광2동', '무악동', '부암동', '이화동', '회현동', '면목4동',
       '상봉1동', '세교동', '진안동', '금호4가동', '장위3동', '마천1동', '풍납1동', '능곡동',
       '본오2동', '안양7동', '안양8동', '고천동', '신당5동', '광탄면', '원평동', '구미1동', '구미동',
       '수내2동', '수내3동', '수진1동', '행당2동', '보문동', '풍납2동', '대야동', '이동', '호계1동',
       '호계2동', '호계3동', '양주1동', '대원동', '응암1동', '내손1동', '의정부3동', '창신2동',
       '창신3동', '교하동', '야탑1동', '태평2동', '삼전동', '신천동', '세마동', '부곡동', '오전동',
       '장암동', '다산동', '금촌1동', '진위면', '감북동', '평동', '장흥면', '신장동', '가능1동',
       '태평3동', '금광2동', '야탑2동', '도촌동', '둔촌1동', '성내1동', '암사3동', '천호1동',
       '번2동', '수유1동', '가양2동', '발산1동', '염창동', '화곡6동', '대덕동', '행신3동',
       '마두1동', '대화동', '과천동', '난향동', '삼성동', '서림동', '서원동', '성현동', '신사동',
       '은천동', '조원동', '청림동', '광명5동', '철산3동', '광남동', '구의2동', '자양1동', '중곡3동',
       '개봉2동', '구로3동', '서초3동', '구로5동', '수궁동', '오류1동', '수택1동', '수택2동',
       '수택3동', '궁내동', '재궁동', '독산2동', '시흥1동', '시흥2동', '김포본동', '주안4동',
       '주안5동', '별내동', '별내면', '공릉1동', '상계3.4동', '월계2동', '하계1동', '방학3동',
       '창2동', '창3동', '장안2동', '청량리동', '소요동', '사당1동', '사당2동', '상도1동',
       '논현1동', '삼성2동', '역삼1동', '일원본동', '번3동', '가양3동', '우장산동', '행주동',
       '남현동', '인헌동', '행운동', '광명6동', '초월읍', '서초4동', '신도림동', '인창동', '금정동',
       '사우동', '하계2동', '쌍문1동', '용신동', '회기동', '송내동', '신대방2동', '도화동', '논현2동',
       '도곡1동', '수유2동', '성사1동', '마두2동', '신림동', '청룡동', '광명7동', '하안1동',
       '광장동', '구의3동', '자양2동', '개봉3동', '오류2동', '가산동', '독산3동', '시흥3동',
       '간석1동', '양정동', '공릉2동', '상계5동', '월계3동', '창4동', '전농1동', '상도2동',
       '망원1동', '서교동', '아현동', '청담동', '둔촌2동', '공항동', '화곡8동', '화전동', '송산동',
       '별양동', '신원동', '광명2동', '소하1동', '중곡4동', '구로4동', '광정동', '양촌읍', '와부읍',
       '흑석동', '소사본동', '가평읍', '청평면', '성내2동', '천호2동', '삼각산동', '수유3동',
       '일산1동', '광명3동', '하안2동', '자양3동', '고척1동', '군포1동', '시흥4동', '운양동',
       '간석3동', '쌍문2동', '창5동', '노량진1동', '연남동', '부평4동', '화곡본동', '화정1동',
       '백석1동', '일산2동', '광명4동', '소하2동', '하안3동', '장기동', '간석4동', '조안면',
       '중계1동', '도봉1동', '사당3동', '망원2동', '가좌3동', '석남3동', '연희동', '수서동',
       '천호3동', '삼양동', '방화1동', '화곡1동', '계산1동', '신도동', '대학동', '구의1동', '군자동',
       '자양4동', '화양동', '갈매동', '산본1동', '독산4동', '구월2동', '진건읍', '상계10동',
       '상계6.7동', '쌍문3동', '이문1동', '휘경1동', '상도3동', '성산1동', '갈산2동', '산곡2동',
       '가좌4동', '남가좌1동', '북가좌2동', '충현동', '미아동', '우이동', '화정2동', '백석2동',
       '일산3동', '하안4동', '학온동', '교문1동', '교문2동', '군포2동', '산본2동', '수리동',
       '독산1동', '시흥5동', '도화1동', '구월3동', '진접읍', '도봉2동', '전농2동', '공덕동',
       '상암동', '염리동', '부개2동', '검단1동', '홍은1동', '홍제1동', '명일1동', '계산2동',
       '식사동', '경안동', '능동', '고척2동', '상계1동', '상계8동', '중계2.3동', '금창동',
       '휘경2동', '사당4동', '상도4동', '삼산1동', '검단3동', '북아현동', '홍제2동', '서울시외',
       '장항1동', '주엽1동', '문학동', '퇴계원면', '쌍문4동', '송현1.2동', '이문2동', '노량진2동',
       '성산2동', '용강동', '부개3동', '검단4동', '천연동', '송중동', '인수동', '화곡2동', '창릉동',
       '효자동', '장항2동', '미성동', '곤지암읍', '중곡1동', '숭의2동', '용현5동', '논현고잔동',
       '방학1동', '검단5동', '남가좌2동', '홍은2동', '내곡동', '반포3동', '암사2동', '작전2동',
       '주엽2동', '탄현동', '구로1동', '구래동', '만수1동', '만수5동', '평내동', '상계2동',
       '상계9동', '중계4동', '창1동', '답십리1동', '제기동', '보산동', '사당5동', '신대방1동',
       '서강동', '부평1동', '삼산2동', '반포2동', '반포4동', '반포본동', '명일2동', '번1동',
       '송천동', '방화2동', '행신1동', '정발산동', '난곡동', '보라매동', '중곡2동', '장수서창동',
       '중계본동', '검암경서동', '방배4동', '흥도동', '중산동', '구로2동', '주안2동', '화도읍',
       '월계1동', '방학2동', '답십리2동', '신수동', '합정동', '부평2동', '십정2동', '석남2동',
       '방배2동', '방배3동', '갈현동', '생연2동', '북가좌1동', '소사본3동', '가정1동', '서초1동',
       '장단면', '일원1동', '일원2동', '성내3동', '암사1동', '철산2동', '광명1동', '갈산1동',
       '등촌1동'], dtype=object)

In [8]:
region_doId_mapping = {}
unique_doRegions = merged_df['OB'].unique()
for idx, doRegion in enumerate(unique_doRegions):
    region_doId_mapping[doRegion] = idx

In [9]:
len(region_doId_mapping)

690

In [10]:
# 고유 ID와 지역 매핑 정보를 저장할 데이터프레임 생성
region_doId_df = pd.DataFrame(list(region_doId_mapping.items()), columns=['Region', 'ID'])

# 데이터 타입 추가
region_doId_df['DataType'] = "FILE"

# 랜덤 이름을 추가
users = ['Admin','JH','JY','MS','SY','YS','Gasfard', 'Pierre', 'Santiago','Pel','Royd','Dhino','Charlie']
region_doId_df['User'] = np.random.choice(users, len(region_doId_df))

# 현재 시간을 얻어 'CreatedTime' 열에 추가
region_doId_df['CreatedTime'] = datetime.now()

# Region 값을 가져와 설명을 추가
region_doId_df['description'] = region_doId_df['Region'] + '에 대한 설명'

# 해시태그 키워드
region_doId_df['Keyword'] = [f"[{region}, '지역', '수도권']" for region in region_doId_df['Region']]


region_doId_df = region_doId_df[['ID', 'Region','DataType', 'User', 'CreatedTime', 'description', 'Keyword']]

In [11]:
region_doId_df

,ID,Region,DataType,User,CreatedTime,description,Keyword
0,0,성수2가1동,FILE,Dhino,2023-11-06 15:45:06.917931,성수2가1동에 대한 설명,"[성수2가1동, '지역', '수도권']"
1,1,성수2가3동,FILE,Admin,2023-11-06 15:45:06.917931,성수2가3동에 대한 설명,"[성수2가3동, '지역', '수도권']"
2,2,왕십리도선동,FILE,SY,2023-11-06 15:45:06.917931,왕십리도선동에 대한 설명,"[왕십리도선동, '지역', '수도권']"
3,3,길음1동,FILE,YS,2023-11-06 15:45:06.917931,길음1동에 대한 설명,"[길음1동, '지역', '수도권']"
4,4,삼선동,FILE,JH,2023-11-06 15:45:06.917931,삼선동에 대한 설명,"[삼선동, '지역', '수도권']"
...,...,...,...,...,...,...,...
685,685,암사1동,FILE,YS,2023-11-06 15:45:06.917931,암사1동에 대한 설명,"[암사1동, '지역', '수도권']"
686,686,철산2동,FILE,Charlie,2023-11-06 15:45:06.917931,철산2동에 대한 설명,"[철산2동, '지역', '수도권']"
687,687,광명1동,FILE,Charlie,2023-11-06 15:45:06.917931,광명1동에 대한 설명,"[광명1동, '지역', '수도권']"
688,688,갈산1동,FILE,Santiago,2023-11-06 15:45:06.917931,갈산1동에 대한 설명,"[갈산1동, '지역', '수도권']"
689,689,등촌1동,FILE,Royd,2023-11-06 15:45:06.917931,등촌1동에 대한 설명,"[등촌1동, '지역', '수도권']"

In [13]:
# CSV 파일로 지역과 ID 매핑 정보 저장
region_doId_df.to_csv('ID_DOID_Mapping_V2.csv', index=False)